.menu-dialog {
  position: fixed;
  z-index: 11;
  width: 70vw;
  height: 100vh;
  right: 0%;
  left: 31vw;
  background-color: #005574;
  animation-name: menu-dialog;
  animation-duration: 1s;
}
@keyframes menu-dialog {
  0% {
    left: 100vw;
  }
  100% {
    left: 31vw;
  }
}
.menu-dialog .menu-dialog-content {
  position: relative;

  top: 42px;
  left: 31px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

.menu-dialog .menu-dialog-content .close-menu-dialog {
  position: relative;
  bottom: 43px;
  right: 9px;
  cursor: pointer;
}
.menu-dialog .menu-dialog-content .close-menu-dialog i:hover {
  /* box-shadow: 0 0 10px rgb(59, 58, 58); */
  transform: scale(1.4);
}

.menu-dialog .menu-dialog-content .page-name {
  position: fixed;
  top: 41px;
  color: #00bcfe;
}

.menu-dialog .menu-dialog-content .pages {
  position: fixed;
  top: 90px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.menu-dialog .menu-dialog-content .pages div {
  margin: 10px;
  margin-bottom: 25px;
  width: 70vw;
}

.menu-dialog .menu-dialog-content .pages .checked {
  text-decoration: underline;
}

.logout-dialog {
  width: 153px;
  height: 49px;
  position: fixed;
  /* left: 0%; */
  right: 9vw;
  top: 53px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgb(59, 58, 58);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #828282;
  cursor: pointer;
}

.logout-dialog div {
  position: relative;
  left: 8px;
  bottom: 2px;
}

.alert {
  position: absolute;
  z-index: 100;
  width: 52vw;
  min-width: 94px;
  max-width: 253px;
  height: 48px;
  left: 41vw;
  top: 33px;
  overflow: auto;
  overflow-x: none;
  animation-name: alert-dialog;
  animation-duration: 1.5s;

  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgb(148 147 147);
}
@keyframes alert-dialog {
  0% {
    top: -70vh;
  }
  100% {
    top: 33px;
  }
}
.alert div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.alert div i {
  top: 9px;
  right: 10px;
  color: black;
  position: relative;
}
.alert div span {
  position: relative;
  top: 9px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

@media only screen and (max-width: 785px) {
  .alert {
    left: 33vw;
  }
}
@media only screen and (max-width: 627px) {
  .alert {
    left: 27vw;
  }
}
@media only screen and (max-width: 465px) {
  .alert {
    left: 23vw;
  }
}@media only screen and (max-width: 239px) {
  .alert {
    left: 23vw;
  }
}
