/* .nav{
    overflow: scroll;
  scrollbar-width: auto;
  scrollbar-color:#9b9b9d;
} */
.nav header {
  position: fixed;
  z-index: 99;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #ffffff;
  box-shadow: 0px 3px 5px #9b9b9d;
}

.nav header .logo {
  position: relative;
  left: 3%;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;

  color: #000000;
}
.nav header .input {
  position: relative;
  right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 20%;
}
.nav header .input label {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2em;
  letter-spacing: 0.04em;
  text-align: left;
  color: #1c2126;
}
.nav header .input input {
  width: normal;
  height: 28px;

  font-family: "Noto Sans";
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.04em;
  padding-left: 10px;
  padding-right: 33px;
  text-align: left;
  color: #1c2126;
  border-radius: 9px;
  border: #379fda solid 2px;
  outline-width: 0.1em;
  background: #ffffff;
}
.nav header .input .search-icon {
  position: absolute;
  right: 1vw;
  color: #379fda;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.nav header .input .search-icon:hover {
  transform: scale(1.5);
}

.nav .profil {
  position: fixed;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 23vw;
  height: 100%;
  left: 0%;
  border-right: 2px solid #d3d5d7;
}

.nav .profil .user-infos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: center;
  margin: 40% 0 0 0;
  width: 13vw;
  height: 258px;
}

.nav .profil .user-infos img {
  position: absolute;
  width: 7vw;
  height: 7vw;
  border-radius: 70%;
}

.nav .profil .user-infos .user-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32%;
}

.nav .profil .user-infos .user-title span {
  width: 100px;
  height: 29px;
  background: #000;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 31px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
}

.nav .profil .user-infos .user-title .user-name {
  height: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
}

.nav .profil .user-infos .user-title .user-email {
  height: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #aaaaaa;
}
.nav .profil .user-infos .user-title button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: #379fda;
  border: 2px solid #379fda;
  cursor: pointer;
  border-radius: 20px;
  margin: 2% 0 0 0;

  width: 185px;
  height: 37px;
}
.nav .profil .user-infos .user-title button:hover {
  background-color: #c7e6fc;
  transition: ease-in-out 0.2s;
}

.nav .profil .content {
  display: grid;
  width: 260px;
  height: 260px;
  margin-top: 25%;
  position: fixed;
}
.nav .profil .content div {
  display: flex;
}
.nav .profil .content .row span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  width: 50%;
  border: 1.0155px solid #d3d5d7;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16.124px;
  line-height: 24px;
  text-align: center;

  color: #646464;

  cursor: pointer;
  filter: invert(0);
  mix-blend-mode: normal;
}

.nav .profil .content span .fa-solid {
  /* color: #379fda; */

  height: 20px;
}
.nav .profil .content .row .checked {
  background: #379fda;
  color: #ffffff;
}
.nav .profil .content .profil-page {
  border-radius: 15.1163px 0px 0px 0px;
}

.nav .profil .content .cours-page {
  border-radius: 0px 15.1163px 0px 0px;
}

.nav .profil .content .notification-page {
  border-radius: 0px 0px 0px 15.1163px;
}

.nav .profil .content .classe-page {
  border-radius: 0px 0px 15.1163px 0px;
}

.nav .component {
  /* background-color: #000; */

  position: fixed;
  width: 77vw;
  height: 100vh;
  right: 0%;
}

.nav .component .header {
  /* background-color: #000; */
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid #d3d5d7;
}

.nav .component .header .shape {
  /* background-color: #000; */
  background-size: contain;
  background-image: url(../shape/classe_header.png);

  background-repeat: no-repeat;
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  /* align-content: center; */
  margin: 6% 0 0 3%;
}

.nav .component .header .shape h1 {
  position: absolute;
  /* width: 370px; */
  /* left: 1%; */
  font-family: "Poppins";
  font-style: normal;
  font-size: 38px;
  text-align: center;
  color: #ffffff;
  margin: 6% 0 0 3%;
  /* flex: none;
  order: 1;
  flex-grow: 0; */
  z-index: 1;
}

.nav .component .header .shape span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 30px;
  background: #ffffff;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-align: center;
  color: #379fda;
  position: absolute;
  border-radius: 20px;
  margin: 7% 0 0 24%;
}

.nav .component .content {
  background-color: #000;
  width: 100%;
  height: 67%;
}
