div header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 30px;
  right: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #ffffff;
  box-shadow: 0px 3px 5px #9b9b9d;
}

div header .page-name {
  position: static;
  bottom: 93.15%;
  margin: 0 0 0 156px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  color: #828282;
}

div header .profile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  margin: 0 10% 0 0;
}

div header .profile img {
  /* position: absolute; */
  width: 30.17px;
  height: 33px;
  top: 13px;
  margin: 0 5px 0 0;
  border-radius: 50%;
}

div header .profile .user-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 0 8px 0 0;
  /* identical to box height */

  color: #828282;
}

div header .profile .fa-caret-down {
  color: #828282;
}

div nav {
  position: fixed;
  width: 110px;
  height: 100vh;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;

  background: #379fda;
}

div nav a {
  position: fixed;
  top: 11px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

div nav .pages {
  position: fixed;
  top: 95px;
}

div nav div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

div nav div .profile {
  color: #ffffff;
}

div nav div .classes {
  color: #ffffff;
}

div nav div .cours {
  color: #ffffff;
}

div nav div .informations {
  color: #ffffff;
}
div nav div .admin-users {
  color: #ffffff;
}

div nav div .checked {
  background-color: #f7f8fa;
  color: #2f80ed;
}

div nav div div {
  width: 109px;
  height: 85px;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16.124px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
div nav div div div {
  top: 21px;
}
div nav div div i {
  margin: 28px 0 0 0;
}
@media only screen and (max-width: 785px) {
  div header .page-name {
    margin: 0 0 0 27px;
  }
  div header #toggle {
    display: block;
    width: 28px;
    position: relative;
    right: 21px;
  }

  div header #toggle span:after,
  div header #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  div header #toggle span:after {
    top: 9px;
  }
  div header #toggle span {
    position: relative;
    display: block;
  }

  div header #toggle span,
  div header #toggle span:after,
  div header #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }

  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
  }
}
