<div>
  <form method="POST" action="/User/admin">
    <label for="nom">Nom</label>
    <input type="text" name="nom" id="nom" />
    <br />
    <label for="prenom">Prenom</label>
    <input type="text" name="prenom" id="prenom" />
    <br />
    <label for="numeroDeTel">Numero de tel</label>
    <input type="text" name="numeroDeTel" id="numeroDeTel" />
    <br />
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />
    <br />
    <label for="email">email</label>
    <input type="text" name="email" id="email" />
    <br />
    <button type="submit">Ajouter</button>
  </form>
</div>
