
main .component {
    position: absolute;
    width: 100vw;
    height: 100%;
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    /* padding: 93px 46px 0 155px; */
    /* background-color: red; */
  
    /* z-index: 100; */
  }
  
  main .component .new-search {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 100px 86px 0 185px;
  }
  
  main .component .new-search .new {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    color: #379fda;
  }
  
  main .component .new-search .new:hover {
    transform: scale(1.1);
  }
  
  main .component .new-search .search {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  main .component .new-search .search input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 35px 0px 18px;
    gap: 194px;
    width: 283px;
    height: 33px;
    background: #f7f8fa;
    border: 3px solid #2d9cdb;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all 0.08s ease-out;
  }
  
  main .component .new-search .search input::placeholder {
    color: #379fda;
  }
  
  main .component .new-search .search input:focus {
    outline: none !important;
    border: 1px solid #379fda;
    box-shadow: 0 0 10px #719ece;
  }
  
  main .component .new-search .search .search-icon {
    position: absolute;
    right: 10px;
    bottom: 9px;
    color: #379fda;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  
  main .component .new-search .search .search-icon:hover {
    transform: scale(1.5);
  }
  
  main .component .content {
    position: fixed;
    top: 127px;
    /* width: 100vw;
    height: 100vh; */
    background-color: aqua;
    margin: 17px 0 0 0;
  
    overflow: auto;
  }
  