main .component {
  position: absolute;
  width: 100vw;
  height: 100%;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
}

main .component .new-search {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  z-index: 1;
  background-color: #f7f8fa;
}

main .component .new-search .new {
  position: relative;
  left: 167px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  color: #379fda;
}

main .component .new-search .new div {
  position: relative;
  left: 2%;
}

main .component .new-search .new:hover {
  transform: scale(1.1);
}

main .component .new-search .search {
}
main .component .new-search form {
  position: fixed;
  right: 54px;
  top: 91px;
}

main .component .new-search .search input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 35px 0px 18px;
  gap: 194px;
  width: 283px;
  height: 33px;
  background: #f7f8fa;
  border: 3px solid #2d9cdb;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: all 0.08s ease-out;
}

main .component .new-search .search input::placeholder {
  color: #379fda;
}

main .component .new-search .search input:focus {
  outline: none !important;
  border: 1px solid #379fda;
  box-shadow: 0 0 10px #719ece;
}

main .component .new-search .search .search-icon {
  position: fixed;
  right: 66px;
  top: 99px;
  color: #379fda;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

main .component .new-search .search .search-icon:hover {
  transform: scale(1.5);
}

main .component .content {
  position: fixed;
  width: 100%;
  height: 80%;
  display: grid;
  overflow: auto;
  overflow-x: hidden;
  grid-template-columns: 328px 328px 328px 328px;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
  gap: 28px;
  justify-content: center;
  top: 151px;
}

main .component .content .classe {
  background-size: cover;
  background-image: url(../shape/bg_classe.png);
  position: relative;
  width: 328px;
  height: 130px;
  top: 15px;
  left: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  cursor: pointer;

  border-radius: 13px;
}

main .component .content .classe:hover {
  box-shadow: 0 0 10px rgb(59, 58, 58);
}

main .component .content .classe div {
  position: relative;
  left: 12px;
  width: 359px;
  height: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 54px;
  color: #ffffff;
}
main .component .content .classe span {
  position: relative;
  top: 16px;
  left: 12px;
  width: 108px;
  height: 31px;
  background: #ffffff;
  border-radius: 27px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #4f4f4f;
}

@media only screen and (max-width: 1530px) {
  main .component .content {
    grid-template-columns: 306px 306px 306px 306px;
  }
  main .component .content .classe {
    width: 289px;
    height: 115px;
  }
  main .component .content .classe div {
    height: 34px;
    font-size: 21px;
  }
}

@media only screen and (max-width: 1364px) {
  main .component .content {
    grid-template-columns: 273px 273px 273px 273px;
  }
  main .component .content .classe {
    width: 289px;
    height: 115px;
  }
  main .component .content .classe div {
    height: 34px;
    font-size: 21px;
  }
}

@media only screen and (max-width: 1342px) {
  main .component .content {
    grid-template-columns: 240px 240px 240px 240px;
  }
  main .component .content .classe {
    width: 248px;
    height: 103px;
  }
  main .component .content .classe div {
    height: 28px;
    font-size: 20px;
    line-height: 44px;
  }
  main .component .content .classe span {
    width: 93px;
    height: 22px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 1191px) {
  main .component .content {
    grid-template-columns: 228px 228px 228px 228px;
  }
}

@media only screen and (max-width: 1167px) {
  main .component .content {
    grid-template-columns: 242px 242px 242px;
  }
}

@media only screen and (max-width: 923px) {
  main .component .content {
    grid-template-columns: 229px 229px 229px;
  }

  main .component .content .classe {
    width: 210px;
    height: 93px;
  }
  main .component .content .classe div {
    height: 22px;
    font-size: 16px;
    line-height: 35px;
  }
  main .component .content .classe span {
    width: 81px;
    height: 21px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 851px) {
  main .component .content {
    grid-template-columns: 193px 193px 212px;
  }
}

@media only screen and (max-width: 785px) {
  main .component .new-search .search form {
    top: 96px;
    right: 20px;
  }
  main .component .new-search .search input {
    width: 201px;
    height: 26px;
  }
  main .component .new-search .search .search-icon {
    top: 101px;
    right: 30px;
  }
  main .component .new-search .new {
    left: 20px;
    font-size: 17px;
  }
  main .component .content {
    grid-template-columns: 193px 193px 222px;
  }
  main .component .content .classe {
    left: 0;
  }
}

@media only screen and (max-width: 671px) {
  main .component .content {
    grid-template-columns: 45vw 46vw;
  }
  main .component .content .classe {
    width: 257px;
    height: 107px;
  }
  main .component .content .classe div {
    height: 34px;
    font-size: 21px;
  }
}

@media only screen and (max-width: 562px) {
  main .component .content .classe {
    width: 230px;
    height: 105px;
  }
  main .component .content .classe div {
    height: 34px;
    font-size: 21px;
  }
}

@media only screen and (max-width: 496px) {
  main .component .content .classe {
    width: 208px;
    height: 93px;
  }
  main .component .content .classe div {
    height: 30px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 440px) {
  main .component .new-search {
    top: 56px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  main .component .new-search .new {
    left: 3vw;
    top: 11px;
    font-size: 17px;
  }
  main .component .new-search .new div {
    position: relative;
    left: 3%;
  }
  main .component .new-search .search {
    bottom: 2px;
  }
  main .component .new-search .search input {
    width: 68vw;
    height: 26px;
    left: 8px;
  }
  main .component .new-search .search form {
    position: relative;
    top: 0px;
    right: unset;
}
  main .component .new-search .search .search-icon {
    position: absolute;
    bottom: unset;
    right: 13px;
    top: 6px;
  }
  main .component .content .classe {
    width: 289px;
    height: 115px;
  }
  main .component .content .classe div {
    height: 34px;
    font-size: 21px;
  }
  main .component .content {
    grid-template-columns: none;
  }
  main .component .content .classe {
    width: 289px;
    height: 115px;
  }
  main .component .content .classe div {
    height: 34px;
    font-size: 21px;
  }
}

@media only screen and (max-width: 320px) {
  main .component .new-search .search form {
    top: 19px;
    right: unset;
}
  main .component .new-search .search input {
    min-width: 213px;
  }

  main .component .new-search .search .search-icon {
    position: relative;
    top: unset;
    bottom: 23px;
    left: 184px;
    right: unset;
  }
}
